body{
    font-family: 'Times New Roman', Times, serif;
    color-scheme: light dark;
    background-color: rgb(253, 249, 245);
}

.header{
    background-color: black;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    border-radius: 10px;
    
}

.intro-container{
    display: flex;

}


.intro{
    margin-top: 20px;
    margin-left: 10%;
    text-align: center;
    background-color: rgb(255, 204, 159);
    font-style: italic;
    font-size: x-large;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.articles-container{
    font-size: x-large;
    width: 75%;
    height: 50%;
    left: 12%;
    margin-top: 10%;
    position: relative;
}

.left-side{
    width: 45%;
    display: inline-block;
    margin-right: 5%;
}

.image-container{
    /* margin-top: 20%; */
}

.right-side{
    width: 45%;
    display: inline-block;
    position: absolute;
    margin-left: 5%;
}

img{
   width: 100%;
}

.form-container{
    background-color: rgb(231, 167, 125);
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    left: 25%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

form{
    font-size: x-large;
    /* display: flex; */
    position: relative;
    align-content: center;
    justify-content: space-around;
    
}