body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topnav {
  overflow: hidden;
  background-color: rgb(125, 125, 165);
  display: flex;
  align-items: center;
}

.topnav a {
  padding: 15px 20px;
  font-size: 20px;
  text-decoration: none;
}

.navhead {
  padding-left: 20%;
  font-size: xx-large;
}

.midnav {
  padding-left: 15%;
}

.rightnav {
  padding-left: 200px;
}

.mainpage {
  
}

.midtext {
  margin: auto;
  padding: 10%;
}

.midtext h1 {
  font-size: 350%;
}

.container {
  /* display: grid; */
  /* align-items: center; */
  /* grid-template-columns: 1fr 1fr; */
  /* column-gap: 5px; */
  display: flex;
  flex-direction: row;
}

img {
  margin-top: 50px;
  margin-left: 50px;
  max-width: 80%;
  max-height: 80%;
}

.linkio > .linkbutton,
.linkdisplay {
  width: 50%;
  margin: auto;
  background-color: rgb(37, 108, 108);
  padding: 20px;
  border-radius: 10px;
  display: flex;
}
.linkio input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.linkio button {
  margin-left: 50px;
  padding: 10px;
  border-radius: 10px;
}

.linkdisplay {
  margin-top: 20px;
}

.footer {
  display: flex;
}

.mid > .features,
.resources,
.company {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.mid {
  display: flex;
  margin: auto;
}

.footer a {
  color: black;
  padding: 10px 10px;
  font-size: 20px;
  text-decoration: none;
}

